<!DOCTYPE html>
<html>

<head>
    <title>Administração de Consultorias</title>
</head>

<body>

    <header>
        <%- include('/home/node/app/views/cabecalho.ejs') %>
    </header>

    <h1>Administração de Consultorias</h1>

    <% consultorias.forEach(function(consultoria) { %>
        <div>
            <h2>
                <%= consultoria.nome %>
            </h2>
            <p>
                <%= consultoria.texto %>
            </p>

            <form id="editar<%= consultoria.id %>" style="display: none;" action="/consultorias/<%= consultoria.id %>"
                method="post">
                <input type="hidden" name="_method" value="PUT">
                <label for="nome">Nome:</label>
                <input type="text" id="nome" name="nome" value="<%= consultoria.nome %>">
                <label for="texto">Texto:</label>
                <textarea id="texto" name="texto"><%= consultoria.texto %></textarea>
                <button type="submit">Salvar</button>
            </form>

            <button
                onclick="document.getElementById('editar<%= consultoria.id %>').style.display = 'block'">Editar</button>

            <form id="delete<%= consultoria.id %>" action="/consultorias/<%= consultoria.id %>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit">Excluir</button>
            </form>
        </div>
        <% }) %>
            <Footer class="texto3">
                Desenvolvido Por <a href="autor">George Paulo</a>
            </Footer>

</body>

</html>